$grid-breakpoints ?= {
  xs: 0,
  ms: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1600px
};
$display-breakpoints ?= {
  xs-only: 'only screen and (max-width: %s)' % ($grid-breakpoints.ms - 1),
  ms-only: 'only screen and (min-width: %s) and (max-width: %s)' % ($grid-breakpoints.ms ($grid-breakpoints.sm - 1)),
  ms-and-down: 'only screen and (max-width: %s)' % ($grid-breakpoints.sm - 1),
  ms-and-up: 'only screen and (min-width: %s)' % $grid-breakpoints.ms,
  sm-only: 'only screen and (min-width: %s) and (max-width: %s)' % ($grid-breakpoints.sm ($grid-breakpoints.md - 1)),
  sm-and-down: 'only screen and (max-width: %s)' % ($grid-breakpoints.md - 1),
  sm-and-up: 'only screen and (min-width: %s)' % $grid-breakpoints.sm,
  md-only: 'only screen and (min-width: %s) and (max-width: %s)' % ($grid-breakpoints.md ($grid-breakpoints.lg - 1)),
  md-and-down: 'only screen and (max-width: %s )' % ($grid-breakpoints.lg - 1),
  md-and-up: 'only screen and (min-width: %s)' % $grid-breakpoints.md,
  lg-only: 'only screen and (min-width: %s) and (max-width: %s)' % ($grid-breakpoints.lg ($grid-breakpoints.xl - 1)),
  lg-and-down: 'only screen and (max-width: (%s - 1))' % $grid-breakpoints.xl,
  lg-and-up: 'only screen and (min-width: %s)' % $grid-breakpoints.lg,
  xl-only: 'only screen and (min-width: %s)' % $grid-breakpoints.xl
};
$red = #fc3030;